<div class="container">
  <div class="general" style="text-align: center;">
    <div >
      <br><br><br><br>
      <div style="text-align: center;margin-bottom: 30px">
        <button class="btn btn-style-success" mat-button (click)="openDialog(contact?.id)">Ajouter une adresse</button>
        <button style="margin-left:20px" class="btn btn-style-secondary" mat-button routerLink="/home">Retour</button>
      </div>

      <mat-card class="detail-card">
        <mat-card-content>
          <mat-card-title style="text-align: center; margin-top: 10px; color: #405065">{{contact?.Nom}}
            {{contact?.Prenom }} details :</mat-card-title>
          <mat-card-subtitle style="text-align: center;  margin-top: 10px">
            <mat-icon style="margin-right: 10px; color: grey">settings_phone</mat-icon>
            {{listeadresse[0]?.NumTel}}
            <mat-icon style="margin-right: 10px; color: grey; margin-left: 10px">calendar_today</mat-icon>
            {{contact?.DateNaissance}} <br>

          </mat-card-subtitle>

          <div class="card-margen" *ngFor="let contactAdresse of listeadresse, let  i = index">
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <mat-card>
                    <mat-card-header>
                      <button style=" margin-left: 10px; border: transparent">
                        <mat-icon style="text-align: end; color: red" (click)="supprimerAdresse(contactAdresse.id)">
                          delete
                        </mat-icon>
                      </button>
                      <button style=" margin-left: 10px; border: transparent">
                        <mat-icon style="text-align: end; color: green" (click)="modifierAdresse(contactAdresse)">edit
                        </mat-icon>
                      </button>
                    </mat-card-header>
                    <mat-icon style="margin-right: 10px;color: #405065">home</mat-icon>
                    {{contactAdresse.Numero}}
                    {{contactAdresse.Rue}}<br>
                    {{contactAdresse.Cp}}
                    {{contactAdresse.Ville}}
                    {{contactAdresse.Pays}}<br>
                    {{contactAdresse.Commentaire}}
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
