<div style="margin-top: 70px;">
  <div class="container">
    <p>
      Ajouter un contact
    </p>

    <div class="imgSlider">
      <ng-image-slider #nav [images]="imagesAjoutContact" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    </div>
  </div>
  <div class="container">
    <p>
      Ajouter une adresse
    </p>

    <div class="imgSlider">
      <ng-image-slider #nav [images]="imagesAjoutAdresse" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    </div>
  </div>
  <div class="container">
    <p>
      Modifier un contact
    </p>

    <div class="imgSlider">
      <ng-image-slider #nav [images]="imagesModifierContact" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    </div>
  </div>

  <div class="container">
    <p>
      Modifier une adresse </p>

    <div class="imgSlider">
      <ng-image-slider #nav [images]="imagesModifierAdresse" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    </div>
  </div>
  <div class="container">
    <p>
      Supprimer un contact
    </p>

    <div class="imgSlider">
      <ng-image-slider #nav [images]="imageSupprimerContact" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    </div>
  </div>

  <div class="container">
    <p>
      Supprimer une adresse </p>

    <div class="imgSlider">
      <ng-image-slider #nav [images]="imageSupprimerAdresse" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    </div>
  </div>

</div>
