  <h1 mat-dialog-title>Ajouter un contact</h1>
  <div mat-dialog-content class="general">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <div mat-label>Saisir votre nom</div>
        <input matInput placeholder="nom" formControlName="Nom">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <div mat-label>Saisir votre prenom</div>
        <input matInput placeholder="prenom" formControlName="Prenom">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <div mat-label>Saisir votre date de naissance</div>
        <input matInput placeholder="date de naissance" formControlName="DateNaissance">
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!contactForm.valid">Submit</button>
      </mat-dialog-actions>
    </form>
  </div>
