<h1 mat-dialog-title >Modifier Votre adresse</h1>
<div mat-dialog-content class="general">
  <form [formGroup]="adresseForm" (ngSubmit)="onSubmit()">

  <mat-label>Choisir le type de votre adresse</mat-label>

<mat-form-field appearance="fill">
  <input matInput formControlName="id" hidden>
  <input matInput formControlName="ContactId" hidden>



  <select matNativeControl required formControlName="TypeAdresse">
    <option value="Domicile">Domicile</option>
    <option value="Travail">Travail</option>
    <option value="Secours">Secours</option>
  </select>
</mat-form-field>
<mat-label>Choisir le type de voie</mat-label>

<mat-form-field appearance="fill">
  <select matNativeControl required formControlName="TypeVoie">
    <option value="Droite">Droite</option>
    <option value="Gauche">Gauche</option>
  </select>
</mat-form-field>
<div mat-label class="label">Saisir votre rue</div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="rue" formControlName="Rue">
      </mat-form-field>
<br>
    <div mat-label class="label">Saisir le numéro </div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="num" formControlName="Numero">
      </mat-form-field>
<br>
    <div mat-label class="label">Saisir votre ville</div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="ville" formControlName="Ville">
      </mat-form-field>
<br>
    <div mat-label class="label">Saisir le Cp de votre ville </div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="cp" formControlName="Cp">
      </mat-form-field>
<br>
    <div mat-label class="label">Saisir le Pays </div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="pays" formControlName="Pays">
      </mat-form-field>
<br>
    <div mat-label class="label">Saisir le numéro de telephone </div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="NumTel" formControlName="NumTel">
      </mat-form-field>
<br>
    <div mat-label class="label">Commentaire </div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Commentaire" formControlName="Commentaire">
      </mat-form-field>
<br>
    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!adresseForm.valid">Submit</button>
    </div>
  </form>
</div>

